.headerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .lowerNavigation, .upperNavigation {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 10rem;

    a {
      color: black;
      cursor: pointer;
      margin-left: 2rem;
      text-decoration: none;
    }
  }

  .upperNavigation {
    font-size: 1rem;
    margin-top: 2rem;
  }

  .lowerNavigation {
    font-size: 1.25rem;
  }
}
