.aboutUsContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;

  .aboutUsLeftContainerSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;

    .aboutUsLeftContainerSmallHeader {
      font-size: 3rem;
      font-weight: normal;
    }

    .aboutUsLeftContainerSmallParagraph {
      font-size: 2rem;
    }

    .aboutUsLeftContainerSmallSignature {
      margin-left: 25rem;
    }
  }

  .aboutUsRightContainerSmall {
    background: url("../../assets/People.jpg") no-repeat left top;
    background-size: 130%;
    width: 50%;

    .aboutUsRightContainerSmallImage {
      //height: 100%;
      //width: 1250px;
      //object-fit: cover;
    }
  }
}
