.contactContainer {
  display: flex;
  flex-direction: row;
  position: relative;

  .contactImage {

  }

  .contactSectionRight {

    .contactSectionRightHeader {
      font-size: 3rem;
      font-weight: normal;
    }
  }
}